.container{
    border: 1px solid #000;
    width: 50%;
    height:80vh;
    margin:auto;
}

h1{
    display:flex;
    justify-content:center;
    margin:20px;
}

.board{
    border: 1px solid #000;
    width:80%;
    height:50%;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    
}

.turn{
    display:flex;
    font-size:2rem;
    background-color:black;
    color:white;
    justify-content: center;
    margin:20px;
}

.restart{
    padding:20px;
    display:flex;
    justify-content: center;
}

.restart button{
    font-size:2rem;
}

button{
    border: none;
    color:black;
}

button:hover{
    background-color: white;
}

form{
    display:flex;
    justify-content: space-around;
    margin:10px;
    gap:10px;
}
